<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReboundLogin"
        tools:targetApi="31">
        <activity        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
            android:name=".login.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ar.ARCameraCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ar.ARCameraProductActivity"
            android:exported="false" />
        <activity
            android:name=".main.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".main.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.NoNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.EarringsActivity"
            android:exported="false" />
        <activity
            android:name=".main.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".main.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.ScheduleServiceActivity"
            android:exported="false" />
        <activity
            android:name=".main.SearchNoResultActivity"
            android:exported="false" />
        <activity
            android:name=".login.PasswordChangedActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.AddShippingAddressActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CheckoutInfoActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CreateNewCardActivity"
            android:exported="false" />

        <activity
            android:name=".login.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.CompleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.CreateNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".login.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".main.NavBarActivity"
            android:exported="false"/>

        <activity
            android:name=".login.WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.MainActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>